<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhu.pan.server.modules.file.mapper.RPanFileMapper">

    <resultMap id="BaseResultMap" type="com.zhu.pan.server.modules.file.entity.RPanFile">
            <id property="file_id" column="file_id" />
            <result property="filename" column="filename" />
            <result property="real_path" column="real_path" />
            <result property="file_size" column="file_size" />
            <result property="file_size_desc" column="file_size_desc" />
            <result property="file_suffix" column="file_suffix" />
            <result property="file_preview_content_type" column="file_preview_content_type" />
            <result property="identifier" column="identifier" />
            <result property="create_user" column="create_user" />
            <result property="create_time" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        file_id,filename,real_path,file_size,file_size_desc,file_suffix,
        file_preview_content_type,identifier,create_user,create_time
    </sql>
</mapper>
